*_gemma_*
*_cosmos_*

# LLM answers coming from google colab
!2025_01_26-18_33_19_gemma_2_9b_llm_answers_for_cntx_length_1.csv
!2025_01_26-19_16_06_gemma_2_9b_llm_answers_for_cntx_length_5.csv
!2025_01_26-20_19_14_gemma_2_9b_llm_answers_for_cntx_length_10.csv
!2025_01_26-21_46_10_gemma_2_9b_llm_answers_for_cntx_length_15.csv
!2025_01_27-12_40_21_gemma_2_9b_llm_answers_for_cntx_length_15_and_position_of_correct_answer_1.csv
!2025_01_27-13_00_31_gemma_2_9b_llm_answers_for_cntx_length_15_and_position_of_correct_answer_8.csv
!2025_01_27-13_20_42_gemma_2_9b_llm_answers_for_cntx_length_15_and_position_of_correct_answer_15.csv

# LLM answers coming from google colab
!2025_01_26-16_41_10_cosmos_dpo_llm_answers_for_cntx_length_1.csv
!2025_01_26-16_50_39_cosmos_dpo_llm_answers_for_cntx_length_5.csv
!2025_01_26-17_02_32_cosmos_dpo_llm_answers_for_cntx_length_10.csv
!2025_01_26-17_20_21_cosmos_dpo_llm_answers_for_cntx_length_15.csv
!2025_01_27-13_23_49_cosmos_dpo_llm_answers_for_cntx_length_15_and_position_of_correct_answer_1.csv
!2025_01_27-13_27_58_cosmos_dpo_llm_answers_for_cntx_length_15_and_position_of_correct_answer_8.csv
!2025_01_27-13_32_15_cosmos_dpo_llm_answers_for_cntx_length_15_and_position_of_correct_answer_15.csv